<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="/productUpdate" method="post">
                <input name="id" value="<%= product.id %>" hidden>
                <div class="form-group">
                    <label>Title</label>
                    <div class="input-group">
                        <input id="validationServerUsername" value="<%= product.name %>" name="name" type="text" class="form-control" placeholder="Enter title" aria-describedby="inputGroupPrepend3" required>
                    </div>
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <div class="input-group">
                        <textarea id="validationServerUsername" name="description" class="form-control" plceholder="Enter description" rows="3" required>
                            <%= product.description %>
                        </textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label>Price</label>
                    <div class="input-group">
                        <input id="validationServerUsername" value="<%= product.price %>" name="price" type="text" class="form-control" placeholder="Enter price" aria-describedby="inputGroupPrepend3" required>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>