<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>404</title>

        <meta name="description" content="description">
        <meta name="keyword" content="keyword">

        <meta property="og:type" content="website">
        <meta property="og:url" content="#">
        <meta property="og:title" content="Title">
        <meta property="og:description" content="Content">
        <meta property="og:image" content="">
    </head>

    <body>
        <h1>404</h1>
    </body>
</html>